:root {
	--duration: 1000ms;
}

body {
  overflow: hidden;  
  margin: 0;
  padding: 0;
}


.app {
  width: 100vw;
	/* font-size: 100px;
	font-weight: bold;
	font-family: 'arial'; */
}

.landing {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient( #164068, #105a98);
  
}

.landing2 {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( #105a98, #0c74d4);
    align-items: center;
    
}
.landing4 {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient( #0c74d4, #0486f1);
  align-items: center;
  justify-content: center;
}
.landing5 {
  display: flex; 
  width: 100vw;
  height: 100vh;
  background: linear-gradient( #0486f1, #0b9fff);
}

.landing6 {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient( #0b9fff, #22bbff);
}

.landing7 {
  display: flex;
  /* align-items: center;
  justify-content: center;
   */
  width: 100vw;
  height: 100vh;
  background: linear-gradient( #22bbff, #4cd6ff);
}






